@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;wght@400;700&display=swap');

body{
    background-image: url(img/backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: rgba(219, 184, 154, 0.5);
    padding: 2% 0% 2% 0%;
    left: 0px;
    right: 0px;
}

.emlbema{
    display: flex;
    margin:0 35% 0 20%;
}

.emlbema img{
    border-radius: 90%;
    width: 40%;
    height: 40%;
    max-width: 190px;
}

.logo_text1{
    color: #015738;
    margin: 0% 0% 0% 3%;
}

.logo_text1 h1{
    letter-spacing: 12px;
    font-size: 50px;
    line-height: 30px;
    text-shadow: -3px -4px 0px rgba(81, 38, 38, 0.8);
}

.logo_text1 h4{
    font-weight: 400;
}

.backmenu{
    background-color: rgba(133, 133, 133, 0.61);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
    margin: 1% 17% 0% 17%;
    padding: 2px 2px 2px 2px;
    border-radius: 45px;
}

.menu{
    background-color: rgba(238, 232, 216, 0.61);;
    border-radius: 40px;
    padding:1% 0% 1% 0%;
}

.menu th{
    border-right: 2px solid rgb(129, 129, 129);
}

.menu th:last-child{
    border-right: 0;
}

.menu a{
    text-decoration: none;
    color:black;
    font-size: 12;
    padding: 0px 36px 0px 36px;
}

.cart{
    display: flex;
}

.cart_a{
    right: 10%;
    position: absolute;
    height: 9%;
    width: 5%;
}

.cart .cart_a img{
    height: 100%;
    width: 100%;
}
